https://notes.shanakadesoysa.com/Python/Pandas/Display_DataFrames_side_by_side/

Criar dataframes com programação no pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame({
    'date': pd.date_range('2021-01-01', '2021-01-07'),
    'sales': np.random.rand(7)*1000
})
display(df1)

        date       sales
0 2021-01-01  410.677832
1 2021-01-02  901.572242
2 2021-01-03  813.986618
3 2021-01-04  511.144572
4 2021-01-05  208.776598
5 2021-01-06  329.471618
6 2021-01-07  178.836184

In [ ]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    7 non-null      datetime64[ns]
 1   sales   7 non-null      float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 240.0 bytes
None